body {
    min-height: 100vh;
    background-color: rgb(0, 0, 40);
    font-family: base-font, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

body main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@font-face {
    font-family: 'base-font';
    src: url(fonts/Prototype.ttf);
}

h1, h2{
    color: rgb(132, 155, 255);
    text-shadow: 0 0 72px #f9fafb8c, 0 0 24px #f9fafb3d;
    margin: 15px; 
    font-weight: 1;
}

#home{
    display: flex;
    height: 100vh; 
    align-items: center;
    justify-content: center;
}

#intro {
    opacity: 0;
    animation: fadeIn 1.5s forwards;   
    text-align: center;
}

.hello, .name {
    transition: 0.2s;
    transition-timing-function: ease;
}

@keyframes fadeIn {
    100% {opacity: 100%; transform: translateY(-10px);}
}

.hello:hover, .name:hover {
    transform: translateY(-8px);
}

.hello {
    margin-bottom: 0px;
    font-size: 3.5rem;
}

.name {
    font-size: 7rem;
}