*{
    box-sizing: border-box;
}

.about{
    width: 100%;
}

.about-header{
    opacity: 0;
    animation: fadeIn 1s forwards;
    text-align: center;
    font-size: 5rem;
    margin-top: 5.2rem;
    margin-bottom: 2rem; 
}

.about-header h1{
    transition: .2s;
    transition-timing-function: ease;
}

.about-image{
    margin: auto;
    margin-left: 90px;
    width: 370px;
}

.about img{
    height: auto; 
    width: 100%;
    border-radius: 50px;
    animation: fadeInRight 1s ease;  
}

.about-header h1:hover{
    transform: translateY(-8px);
}

.about-box{
    position: relative;
    top: 30px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInUp 1s ease;  
    transition: .25s ease;
    padding: 40px 65px;
    border-color: #78CCFB;
    border-width: 3px;
    border-radius: 75px;
}

.about-text{
    flex: 1;
}

.about-text h5{
    font-size: 1.9rem;
    margin-bottom: 20px;
}

.about-text p{
    font-family: 'White Rabbit', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #8fd6ff;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 1;
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);

    }
}

@media (max-width: 1400px){
    .about-header{
        font-size: 4.2rem;
    }

    .about-box{
        flex-direction: column;
        width: 100%;
    }

    .about-image{
        margin: 35px 0; 
    }

}

@media (max-width: 800px){
    .about-header{
        font-size: 4rem;
    }

    .about-text h5{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .about-text p{
        font-size: 17px;
    }

    .about-header{
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: .75rem; 
    }

    .about-image{
        width: 320px;
    }
}

@media (max-width: 400px){
    .about-header{
        font-size: 2.5rem;
        margin-top: 5.2rem;
        margin-bottom: 0    ; 
    }

    .about-text h5{
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .about-text p{
        width: 100%;
        font-size: 12.5px;
    }

    .about-image{
        width: 250px;
    }

}

@media (min-width: 1425px){
    .about-box:hover{
        transform: scale(1.05);
        box-shadow: 0 0px 40px #78CCFB;
        border-style: solid;    
    }
}