*{
    box-sizing: border-box;
}

.about{
    width: 100%;
}

.about-header{
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    text-align: center;
    font-size: 5rem;
    margin-top: 5rem;
    margin-bottom: 2rem; 
}

.about-header h1{
    transition: .2s;
    transition-timing-function: ease;
}

.about-image{
    margin: auto;
    margin-left: 90px;
    width: 400px;
}

.about img{
    height: auto; 
    width: 100%;
    border-radius: 200px;
}

.about-header h1:hover{
    transform: translateY(-8px);
}

.about-box{
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInUp 1.5s ease;  
}

.about-text{
    flex: 1;
}

.about-text h5{
    font-size: 2rem;
    margin-bottom: 30px;
}

.about-text p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(138, 200, 255);
    letter-spacing: 1px;
    line-height: 1.5;
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1; 
        transform: translateY(0px);
    }

}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);

    }
}

