body{
    overflow-x: hidden;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    animation: fadeInUp 1s forwards;
}

.exp-header{
    text-align: center;
    font-size: 5rem;
    margin-top: 5.2rem;
    margin-bottom: 3.5rem; 
    transition: .2s;
    transition-timing-function: ease;
}

.exp-header:hover{
    transform: translateY(-8px);
}


.exp-box{
    display: flex; 
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 325px;
    background-color: #070912;
    border: 2px solid #78CCFB;
    border-radius: 30px;
    margin-top: 0px;
    margin-bottom: 60px;
    transition: .2s;
    transition-timing-function: ease;
}

.exp-box:hover{
    transform: scale(1.03);
    box-shadow: 0 0px 20px #78CCFB;
}

.exp-content{
    width: 70%;
    height: 100%;
    padding-left: 25px;
}

.exp-top{
    height: 20%;
    padding-top: 30px;
    margin-bottom: 20px;
   
}

.exp-desc{
    display: flex;
    color: #78CCFB;
    height: 69%; 
    
}

.exp-desc ul{
    list-style-type:disc;
    padding-left: 15px;
}

.exp-desc li{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.exp-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.exp-logo img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

.exp-top h1{
    font-size: 2rem;
    margin-bottom: 5px;
}
.exp-top h2{
    font-size: larger;
    color: #78CCFB;
}

@media (max-width: 1400px){
    .exp-box{
        width: 75%;
    }

    .exp-logo img{
        width: 70%;
        height: 55%;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 900px){
    .exp-box{
        width: 439px;
        height: 525px;

    }

    .exp-logo{
        display: none;
    }

    .exp-content{
        width: 100%;
        padding: 30px;
    }

    .exp-desc li{
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px){
    .exp-box{
        width: 90%;
    }
}