body{
    overflow-y: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.intro {
    opacity: 0;
    animation: fadeIn 1s forwards;   
    position: relative;
    top: -60px;
    text-align: center;
}

.hello, .name{
    transition: .2s;
    transition-timing-function: ease;
}

.hello:hover, .name:hover {
    transform: translateY(-8px);
}

.hello {
    font-size: 3.5rem;
}

.name {
    margin-top: 2rem;
    margin-top: 2rem;
    font-size: 5.6rem;
}

button{
    margin: 2rem 15px;
    font-family: 'White Rabbit';
    font-size: x-large;
    color:#78CCFB;
    box-shadow: 0 0px 5px #78CCFB;
    width: 220px; 
    height: 3.2rem;
    border-radius: 15px;
    border-style: solid;
    background-color: transparent;
    border-color: #78CCFB;
    border-width: 2px;
    transition: 0.2s;
    transition-timing-function: ease;
}

button:hover{
    cursor: pointer;
    width: 250px; 
    height: 3.7rem;
    font-size: xx-large;
    box-shadow: 0 0px 20px #78CCFB;
}

@media(max-width: 730px){
    .hello {
        font-size: 2rem;
    }
    
    .name {
        margin-top: 2rem;
        margin-top: 2rem;
        font-size: 4rem;
    }

    button
    {
       width: 10rem;
       height: 2.5rem;
       font-size: large;
    }    

    button:hover{
        cursor: pointer;
        width: 11rem; 
        height: 3rem;
        font-size: x-large;
        box-shadow: 0 0px 20px #78CCFB;
    }
}

@media(max-width: 500px){
    .hello {
        font-size: 1.5rem;
    }
    
    .name {
        margin-top: 2rem;
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    button
    {
       width: 9rem;
       height: 2rem;
       font-size: small;
       margin: 2rem 10px;
       border-radius: 12px;
    }

    button:hover{
        cursor: pointer;
        width: 9.5rem; 
        height: 2.5rem;
        font-size: medium;
        box-shadow: 0 0px 20px #78CCFB;
    }
    
}