nav, nav ul{
    padding: 0px;
    margin-top: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s forwards;   
    transition: 0.2s;
    transition-timing-function: ease;
}

.brand-name, .navbar-links{
    margin-top: 1rem;
}

.brand-name{
    display: flex;
    align-items: center;    
}

.brand-name a{
    font-weight: 1;
    font-size: 1.6rem;
    margin-left: 40px;
}

.brand-name img{
    margin-left: 24px;
    padding-right: 16px;
    width: 50px;
}

.nav-icons{
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.navbar-links ul{
    list-style: none;
    display: flex;
    align-items: center;
}


nav li{
    padding: 0 16px;
    list-style: none;
}

nav a{
    color: #78CCFB;
    text-shadow: 0 0 30px #78CCFB; 
    font-weight: 1;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
}

nav a:hover{
    opacity: 50%;
    transition: 0.5s;
}

.nav-icon:hover{
    opacity: 80%;
    transition: 0.5s;
}

.brand-name img, .nav-icons img, .menu{
    width: 45px;
    filter: drop-shadow(0 0 30px #78CCFB);
}

.nav-icons .linkedin{
    width: 40px;
}

@keyframes fade{
    100% {opacity: 100%; transform: translateY(-10px);}
}

.menu{
    position: absolute;
    top: 7.5px;
    right: 1rem;
    display: none;
}

@media(max-width: 1000px){
    .navbar-links{
        display: none;
    }

    .menu{
        display: block;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links li{
        padding: .75rem 2rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .nav-icons li{
        padding: .75rem;
    }

    .nav-icons li .github{
        padding-left: 1rem;
    }
    
    .brand-name a{
        margin-left: 33px;
    }
}

@media(max-width: 600px){
    .brand-name a{
        font-weight: 1;
        font-size: 1.3rem;
    }

    .menu{
        scale: 0.7;
        top: 6px;
    }
}