nav, nav ul{
    padding: 0px;
    margin: 0px;
}

nav {
    opacity: 0;
    animation: fadeIn 1.5s forwards;   
    transition: 0.2s;
    transition-timing-function: ease;
}

nav ul{
    height: 75px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    padding: 0 16px;
}

nav a{
    display: flex;
    align-items: center;
    color: #78CCFB;
    text-shadow: 0 0 30px #78CCFB; 
    font-weight: 1;
    height: 100%;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:hover{
    color: rgb(205, 214, 255);
    transition: 0.5s;
}

.nav-icon:hover{
    opacity: 50%;
    transition: 0.5s;
}

nav li:first-child{
    margin-right: auto;
    margin-left: 16px;
    font-size: 1.7rem;
}

nav li:last-child{
    margin-right: 16px;
}

#first{
    font-size: 1.7rem;
}

#first img{
    padding-right: 16px;
    width: 50px;
}

.nav-icon{
    width: 40px;
    filter: drop-shadow(0 0 30px #78CCFB);
}

.linkedin{
    width: 37px;
}

@keyframes fade{
    100% {opacity: 100%; transform: translateY(-10px);}
}