*{
    box-sizing: border-box;
}

body{
    margin-inline: auto;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
}

.projects-box img{
    width: 100%;
    max-height: 250px;
    height: auto;
    object-fit: cover;
}

.projects-header{
    text-align: center;
    font-size: 5rem;
    margin-top: 5.2rem;
    margin-bottom: 3.5rem; 
    transition: .2s;
    transition-timing-function: ease;
}

.projects-header:hover{
    transform: translateY(-8px);
}

.projects{
    margin: 0 10%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust the min-width as needed */
    justify-items: center;
    grid-column: span 3;
    gap: 5rem;
    margin-top: 4.5rem;
    margin-bottom: 8rem; 
}

.projects-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: #78CCFB;
    border-width: 2px;
    border-radius: 25px;
    box-shadow: 0 0px 5px #78CCFB;
    background-color: black;
    color: #78CCFB;
    text-align: center;
    transition: .2s;
    transition-timing-function: ease;
}

.projects-box a{
    text-decoration: none;
}

.projects-box img{
    padding: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 0;
}

.projects-box p{

    display: inline-block;
    padding: 1rem 5px;
}


.projects-box:hover{
    transform:scale(1.1);
    box-shadow: 0 0px 40px #78CCFB;
}

.projects-title, .projects-desc{
    padding: 1rem 3rem;
}

.projects-title:hover{
    opacity: 50%;
    transition: 0.5s;
}

.projects-desc{
    color: #8fd6ff;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 1;
    padding-top: 0;
}

.projects-title{
    font-size: 2rem;
}

@media (max-width: 400px){
    .projects-header{
        font-size: 3.5rem;
    }
    .projects{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        
    }
}