*{
    box-sizing: border-box;
}

body{
    margin-inline: auto;
    animation: fadeIn 1s forwards;
    opacity: 0;
}

.projects-box img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.projects-header{
    text-align: center;
    font-size: 5rem;
    margin-top: 5.2rem;
    margin-bottom: 3.5rem; 
    transition: .2s;
    transition-timing-function: ease;
}

.projects-header:hover{
    transform: translateY(-8px);
}

.projects{
    margin: 0 10%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust the min-width as needed */
    justify-items: center;
    grid-column: span 3;
    gap: 5rem; 
}

.projects-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 525px;
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: #78CCFB;
    border-width: 2px;
    border-radius: 20px;
    background-color: #070912;
    color: #78CCFB;
    text-align: center;
    transition: .2s;
    transition-timing-function: ease;
}
.projects-box a{
    text-decoration: none;
}

.projects-box p{
    display: inline-block;
    padding: 3px;
    font-size: .95rem;
}


.projects-box:hover{
    transform:scale(1.1);
    box-shadow: 0 0px 40px #78CCFB;
}

.projects-title{
    font-size: 2rem;
}

.projects-title:hover{
    opacity: 50%;
    transition: 0.5s;
}

.projects-desc{
    color: #8fd6ff;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 10px 27px;
}

.projects-tools{
    margin: 0px 17px;
    margin-bottom: 27px;
}

.projects-image{
    width: 100%;
    padding: 30px;  
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.top-content{
    width: 100%;
}

@media (max-width: 600px){
    .projects-header{
        font-size: 3.5rem;
    }
}

@media (max-width: 1116px) {
    .projects-box{
        width: 439px;
    }
}