*{
    box-sizing: border-box;
}

body{
    margin-inline: auto;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px; 
}

.skills-header{
    text-align: center;
    font-size: 5rem;
    margin-top: 5.2rem; 
    margin-bottom: 5.2rem; 
    transition: .2s;
    transition-timing-function: ease;
}

.skills-header:hover{
    transform: translateY(-8px);
}

.icons-box{
    width: 55rem;
    height: 12rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px  #78CCFB;
    margin: 20px;
} 

.icons-box img{
    height: 5rem;
    margin: 0px 15px;
}

.skills-box h2{
    margin-top: 20px;
    font-size: 3.5rem;
    text-align: center;
}

@media (max-width: 400px){
    .projects-header{
        font-size: 3.5rem;
    }
}
