body, html {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: #0c0d11;
    font-family: 'White Rabbit', Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}

h1, h2{
    color: #78CCFB;
    text-shadow: 0 0 30px #78CCFB; 
    font-weight: 1;
}

@font-face {
    font-family: 'White Rabbit';
    src: url('fonts/WHITRABT.TTF') format('truetype');
}

@keyframes fadeIn {
    100% {opacity: 100%; transform: translateY(10px);}
}
