body, html {
    min-height: 100vh;
    background-color: #0c0d11;
    font-family: 'White Rabbit', Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
}

main{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@font-face {
    font-family: 'White Rabbit';
    src: url('https://lain561.github.io/docs/fonts/WHITRABT.TTF');
}

h1, h2{
    color: #78CCFB;
    text-shadow: 0 0 30px #78CCFB; 
    font-weight: 1;
}


#intro {
    opacity: 0;
    animation: fadeIn 1.5s forwards;   
    position: relative;
    top: -75px;
    text-align: center;
}

.hello, .name {
    transition: 0.2s;
    transition-timing-function: ease;
}

@keyframes fadeIn {
    100% {opacity: 100%; transform: translateY(10px);}
}

.hello:hover, .name:hover {
    transform: translateY(-8px);
}

.hello {
    font-size: 3rem;
}

.name {
    margin-top: 2rem;
    margin-top: 2rem;
    font-size: 5.5rem;
}