body, html {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: #0b0e1b;
    font-family: 'White Rabbit', Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h5{
    color: #78CCFB;
    text-shadow: 0 0 30px #78CCFB; 
    font-weight: 1;
}

@media (max-width: 900px){
    .about-header, .projects-header, .exp-header{
        font-size: 3.5rem;
    }
}

@font-face {
    font-family: 'White Rabbit';
    src: url('fonts/WHITRABT.TTF') format('truetype');
}

@keyframes fadeIn {
    100% {opacity: 100%; transform: translateY(10px);}
}

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1; 
        transform: translateY(0px);
    }

}